#upButton,
#downButton {
    position: fixed;
    right: 20px;
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    display: none;
}

#upButton {
    bottom: 80px;
}

#downButton {
    bottom: 20px;
}

form .error:not(li):not(input) {
    font-size: large;
}

.leftside {
    /* padding: 3rem 8px; */
    padding: 20px 40px;
    border-right: 1px solid black;
}

.leftside ul {
    list-style: none;
    padding-left: 0;
}

.leftside ul button {
    text-align: left !important;
}

.register-box h4 {
    text-transform: uppercase;
}