#upButton,
#downButton {
    position: fixed;
    right: 20px;
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    display: none;
}

#upButton {
    bottom: 80px;
}

#downButton {
    bottom: 20px;
}